table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    margin: 3px;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

pre code {
    word-break: break-word;
    word-wrap: break-word;
    font-weight: initial;
}

pre.supermongo {
    background-color: #FFF5DB;
}

pre.python {
    background-color: #DBFFF8;
}

table tr td:first-child {
    font-weight: normal;
    font-size: 20px;
}

h1,h2,h3,h4 {
    margin-top:40px;
}


